<div class="bg-gray-800 h-screen text-white p-4">
  <ul>
    <li class="mb-8">
      <a href="#" class="w-full" routerLink="/home">
        <h1 class="text-white p-2 rounded relative group text-4xl">Penpals</h1>
      </a>
    </li>
    <li class="mb-8">
      <a
        href="#"
        class="w-full text-white p-2 rounded relative group hover:bg-gray-600 text-xl"
        routerLink="/home"
        i18n
      >
        Home
      </a>
    </li>
    <li class="mb-8">
      <a
        href="#"
        class="w-full text-white p-2 rounded relative group hover:bg-gray-600 text-xl"
        routerLink="/challenges"
        i18n
      >
        Challenges
      </a>
    </li>
    <li class="mb-8">
      <a
        href="#"
        class="w-full text-white p-2 rounded relative group hover:bg-gray-600 text-xl"
        routerLink="/inbox"
        i18n
      >
        Inbox
      </a>
    </li>
    <li class="mb-8">
      <a
        href="#"
        class="w-full text-white p-2 rounded relative group hover:bg-gray-600 text-xl"
        routerLink="/profile"
        i18n
      >
        Profile
      </a>
    </li>
  </ul>
</div>
