<footer class="bg-gray-200 p-4">
  <div class="container flex justify-between items-center">
    <ul class="flex space-x-4">
      <li><a href="#" class="text-gray-800" i18n routerLink="/home">Home</a></li>
      <li><a href="#" class="text-gray-800" i18n routerLink="/challenges">Challenges</a></li>
      <li><a href="#" class="text-gray-800" i18n routerLink="/inbox">Inbox</a></li>
      <li><a href="#" class="text-gray-800" i18n routerLink="/profile">Profile</a></li>
    </ul>
  </div>
</footer>
